body{
  font-family: "Oswald", sans-serif;
  margin: 10% 10%;
  font-size: 20px;
  text-align: center;
}

h1 {
  font-size: 50px;
  text-align: center;
}

p {
  margin: 0 5% 5% 10%
  text-align: center; 
}

#input-email input{
  background-color: #888888;
  border: none;
  height: 60px;
  width: 90%;
  font-family: "Oswald", sans-serif;
  padding: 2% 2%
}

#input-age-verification label{
  background-color: #808080
  width: 90%;
  height: 60px;
  
}

